<h1 class="text-center my-4">イベント一覧</h1>
<div class="container">
<!-- リンク -->
<div class="mb-4 d-flex justify-content-between align-items-center">
  <!-- 新規投稿ボタン（アイコン付き、丸いボタン） -->
  <%= link_to new_event_path, class: "btn btn-primary rounded-circle p-0 d-flex justify-content-center align-items-center", style: "width:2rem;height:2rem;" do %>
    <i class="fa-solid fa-plus"></i> <!-- アイコンのサイズを大きくして中央に配置 -->
  <% end %>

  <!-- その他のリンク（レビュー、場所、イベント一覧） -->
  <div>
    <%= link_to "投稿一覧", posts_path, class: "btn btn-info btn-sm me-2" %>
    <%= link_to "レビューリスト", reviews_path, class: "btn btn-success btn-sm me-2" %>
    <%= link_to "イベント一覧", places_path, class: "btn btn-secondary btn-sm" %>
  </div>
</div>

<div>
<%= render partial: "public/shared/filter_sort", locals: {
  url: events_path,
  local_remote: false,
  tags: nil,
  places: nil,
  events: @events
} %>
</div>

  <div class="row">
    <% @events.each do |event| %>
      <div class="col-md-4 mb-4"> 
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <strong><%= link_to event.title, event_path(event), class: "text-decoration-none text-dark" %></strong>
            </h5>
            <p class="card-text"><%= truncate(event.body, length: 100) %></p>
            <p class ="text-muted mt-2"> 開始日時: <%= event.start_date %></p>
            <p class ="text-muted mt-2"> 終了日時: <%= event.end_date %></p>
          </div>
          <div class="card-footer text-end">
            <%= link_to "詳細を見る", event_path(event), class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- ページネーション -->
  <div class="d-flex justify-content-center mt-4">
    <%= paginate @events %>
  </div>
</div>