<%= form_with model: @event do |f| %>
 <div>
  <%= f.label :title, 'イベント名' %>
  <%= f.text_field :title %>
 </div>
 <div>
  <%= f.label :body, 'イベント内容' %>
  <%= f.text_area :body %>
</div>
<div>
  <%= f.label :start_date, '開始日時' %>
  <%= f.datetime_select :start_date %>
</div>
<div>
  <%= f.label :end_date, '終了日時' %>
  <%= f.datetime_select :end_date %>
</div>
<div>
<h4>関連する場所を選択</h4>
<% @places.each do |place| %>
  <div>
    <%= check_box_tag "event[place_ids][]", place.id, @event.place_ids.include?(place.id) %>
    <%= place.name %>
  </div> 
<% end %>   
</div>
<%= f.submit '登録' %>
<% end %> 

