<h1 class="text-center my-4">投稿一覧</h1>
<div class="container">

  <!-- 投稿リスト -->
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4 mb-4"> <!-- 3列レイアウト -->
        <div class="card h-100"> <!-- 高さを揃える -->
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to post.title, post_path(post), class: "text-decoration-none text-primary" %>
            </h5>
            <p class="card-text"><%= truncate(post.body, length: 100) %></p>
            <p class="text-muted">
              投稿者: 
              <%= link_to post.user.name, user_path(post.user), class: "text-decoration-none" %>
            </p>
          </div>
          <div class="card-footer text-end">
            <%= link_to "詳細を見る", post_path(post), class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- ページネーション -->
  <div class="d-flex justify-content-center mt-4">
    <%= paginate @posts %> 
  </div>
</div>