<div class="container my-5 py-5 px-4 post-list-wrapper">
  <h1 class="text-center text-primary fw-bold mb-4">投稿一覧</h1>

  <!-- リンク -->
  <div class="mb-4 d-flex justify-content-between align-items-center">
    <%= render 'public/posts/btn' %>
    <div>
      <%= link_to "レビューリスト", reviews_path, class: "btn btn-outline-success btn-sm me-2" %>
      <%= link_to "場所一覧", places_path, class: "btn btn-outline-secondary btn-sm me-2" %>
      <%= link_to "イベント一覧", events_path, class: "btn btn-outline-secondary btn-sm" %>
    </div>
  </div>

  <!-- フィルター -->
  <div id="posts-sort">
  <%= render partial: "public/shared/filter_sort", locals: {
    url: posts_path,
    local_remote: false,
    tags: @tags,
    places: @places,
    events: @events
  } %>
  </div>

  <!-- 投稿リスト -->
  <div id="posts-list">
    <%= render 'public/posts/posts_list', posts: @posts %>
  </div>

  <!-- ページネーション -->
  <div id="pagination">
   <%= render 'public/posts/pagination', posts: @posts %>
  </div>
</div>
