<%= form_with model: @post, url: posts_path, local: true do |form| %>
  <!-- タイトル -->
  <div class="mb-3">
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <!-- 本文 -->
  <div class="mb-3">
    <%= form.label :body, "本文" %>
    <%= form.text_area :body, class: "form-control" %>
  </div>

  <!-- 場所のチェックボックス -->
  <div class="mb-3">
    <h4>場所を選択</h4>
    <% @places.each do |place| %>
      <div>
        <%= check_box_tag "post[place_ids][]", place.id %>
        <%= place.name %>
      </div>
    <% end %>
  </div>

  <!-- イベントのチェックボックス -->
  <div class="mb-3">
    <h4>イベントを選択</h4>
    <% @events.each do |event| %>
      <div>
        <%= check_box_tag "post[event_ids][]", event.id %>
        <%= event.title %>
      </div>
    <% end %>
  </div>

  <!-- 投稿ボタン -->
  <%= form.submit "投稿する", class: "btn btn-primary" %>
<% end %>