<div class="container my-5">
  <div class="card shadow-sm">
    <div class="card-body">
      <h1 class="card-title"><%= @post.title %></h1>
      <p class="text-muted mt-2">
        投稿者：
        <%= link_to @post.user.name, user_path(@post.user), class: "text-decoration-none text-primary" %>
      </p>
      <p class="card-text mt-3"><%= @post.body %></p>
    </div>

    <% if @post.user == current_user %>
      <div class="card-footer text-end">
        <%= link_to "編集", edit_post_path(@post), class: "btn btn-outline-success btn-lg mb-6" %>
        <%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-outline-danger btn-lg mb-6", data: { confirm: '本当に削除しますか？' } %>
      </div>
    <% end %>

    <h3>レビュー一覧</h3>
    <% @post.reviews.each do |review| %>
      <div class="review">
        <p><strong>投稿者：</strong><%= review.user.name %></p>
        <div class="review-score" data-score="<%= review.score %>"></div>
        <p><strong>内容:</strong> <%= review.body %></p>
      </div>
    <% end %>
  </div>
</div> 

<script>
document.addEventListener("DOMContentLoaded", () => {
  document.querySelectorAll(".review-score").forEach((elem) => {
    const score = elem.dataset.score;

    raty(elem, {
      readonly: true,
      score: parseFloat(score),
      number: 5,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
    });
  });
});
</script>