<div class="container my-5">
  <div class="card shadow-lg p-4">
    <div class="card-body">
      <h2 class="text-center text-primary mb-4">場所追加フォーム</h2>

      <%= form_with model: @place, local: true do |f| %>
        <!-- 場所名 -->
        <div class="mb-3">
          <%= f.label :name, '場所名', class: 'form-label' %>
          <%= f.text_field :name, class: 'form-control', placeholder: 'カフェ' %>
        </div>

        <!-- 郵便番号 -->
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-tenge-sign"></i></span>
          </div>
         <%= f.text_field :zipcode, class: "form-control", placeholder: "郵便番号を入力すると、住所も自動入力されます", id: "zipcode" %>
        </div>

        <!-- 都道府県 -->
        <div class="mb-3">
         <%= f.label :prefecture, '都道府県', class: 'form-label' %>
         <%= f.text_field :prefecture, class: "form-control", id: "prefecture", placeholder: "東京都" %>
        </div>

        <!-- 市区町村 -->
        <div class="mb-3">
           <%= f.label :city, '市区町村', class: 'form-label' %>
           <%= f.text_field :city,  class: "form-control", id: "city", placeholder: "新宿区" %>
        </div>

        <!-- 番地 -->
        <div class="mb-3">
          <%= f.label :street, '番地', class: 'form-label' %>
           <%= f.text_field :street,  class: "form-control", id: "street", placeholder: "西新宿2-8-1" %>
         </div>
        
        <!-- 説明 -->
        <div class="mb-3">
          <%= f.label :description, '説明', class: 'form-label' %>
          <%= f.text_area :description, class: 'form-control', placeholder: '子供向けのメニューも豊富で、落ち着いた雰囲気のカフェです', rows: 5 %>
        </div>

        <div class="form-group">
         <%= f.label :image, "画像アップロード" %>
         <%= f.file_field :image, class: "form-control" %>
        </div>
        
        
        <!-- 関連するイベント -->
        <div class="mb-4">
          <h4 class="text-secondary">関連するイベントを選択</h4>
          <% @events.each do |event| %>
            <div class="form-check">
              <%= check_box_tag "place[event_ids][]", event.id, @place.event_ids.include?(event.id), class: 'form-check-input' %>
              <%= label_tag "place_event_ids_#{event.id}", event.title, class: 'form-check-label' %>
            </div>
          <% end %>
        </div>
        
        <!-- 登録ボタン -->
        <div class="text-center">
          <%= f.submit '登録', class: 'btn btn-primary btn-lg px-5' %>
        </div>
      <% end %>
      <div id="map" style="height: 400px; width: 100%;"></div>
    </div>
  </div>
</div>
