<%= form_with model: [ commetable, Comment.new ], local: false, html: { id: "new_comment_form" } do |f| %>
  <%= f.hidden_field :commetable_type, value: commetable.class.name %>
  <%= f.hidden_field :commetable_id, value: commetable.id %>

  <div class="form-group">
    <%= f.text_area :body, placeholder: "コメントを入力してください", class: "form-control", id: "comment_body" %>
  </div>
  <%= f.submit "コメントする", class: "btn btn-primary" %>
<% end %>