<h1 class="display-4 font-weight-bold text-center mb-4">レビュー管理</h1>

<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered shadow-lg rounded-lg">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>投稿タイトル</th>
        <th>５段階評価</th>
        <th>レビュー内容</th>
        <th>アクション</th>
      </tr>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
        <tr class="align-middle">
          <td><%= review.id %></td>
          <td><%= review.post.title %></td>
          <td><%= review.score %></td>
          <td><%= truncate(review.body, length: 50) %></td>
          <td>
            <%= button_to "削除", admin_review_path(review), method: :delete, class: "btn btn-danger btn-sm shadow-sm rounded-pill", data: { confirm: "本当に削除しますか？" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>