<div class="container">
  <h1><strong>タグ編集</strong></h1>
  <%= form_with model: @tag, url: admin_tag_path(@tag), local: true do |f| %>
    <div class="form-group">
      <%= f.label :name, "タグ名" %>
      <%= f.text_field :name, class: "form-control", value: @tag.name %>
    </div>
    <div class="mt-3">
      <%= f.submit "更新", class: "btn btn-success" %>
      <%= link_to "キャンセル", admin_tags_path, class: "btn btn-secondary" %>
    </div>

  <% end %>
</div>