<div class="container my-5 py-5 px-4 post-list-wrapper">
<h1 class="text-center my-4">レビューリスト</h1>
<div class="container">

<!-- リンク -->
<div class="mb-4 d-flex justify-content-between align-items-center">
  <!-- 新規投稿ボタン（アイコン付き、丸いボタン） -->
  <%= link_to new_review_path, class: "btn btn-primary rounded-circle p-0 d-flex justify-content-center align-items-center", style: "width:2rem;height:2rem;" do %>
    <i class="fa-solid fa-star"></i>
  <% end %>

  <!-- その他のリンク（レビュー、場所、イベント一覧） -->
  <div>
    <%= link_to "投稿一覧", posts_path, class: "btn btn-custom btn-info btn-sm me-2" %>
    <%= link_to "場所一覧", places_path, class: "btn btn-custom btn-secondary btn-sm me-2" %>
    <%= link_to "イベント一覧", events_path, class: "btn btn-custom btn-secondary btn-sm" %>
  </div>
</div>

<div>
<%= render partial: "public/shared/filter_sort", locals: {
  url: reviews_path,
  local_remote: false,
  tags: nil,
  places: @places,
  events: nil
} %>
</div>

  <div class="row">
    <% @reviews.each do |review| %>
      <div class="col-md-4 mb-4"> <!-- 3列レイアウト -->
        <div class="card h-100"> <!-- 高さを揃える -->
          <div class="card-body">
            <h5 class="card-title">
            <!-- 画像 -->
            <%= display_image_or_default(review.image, width: 300, height: 180, classes: "card-img-top") %>
            <div class="review-score mb-2" data-score="<%= review.score %>"></div>
            </h5>
            <p class="card-text"><%= truncate(review.body, length: 30) %></p>
            <p class="text-muted mb-2">
              <strong>レビュー投稿者：</strong>
              <%= display_image_or_default(review.user.image, width: 30, height: 30, classes: "rounded-circle me-1") %>
              <%= link_to review.user.name, user_path(review.user), class: "text-decoration-none text-primary" %>
            </p>
            <p class="text-muted">
              投稿タイトル: 
              <%= link_to review.post.title, post_path(review.post), class: "text-decoration-none" %> <!-- 投稿詳細ページへのリンク -->
            </p>
          </div>
          <div class="card-footer text-end">
            <%= link_to "詳細を見る",review_path(review), class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- ページネーション -->
  <div class="d-flex justify-content-center mt-4">
    <%= paginate @reviews %>
  </div>
</div>
</div>
