<%= form_with url: search_path, method: :get, local: true, class: "d-flex w-auto ms-3", html: {style: "max-width: 500px;"} do |f| %>
  <div class="input-group input-group-sm">
    <%= f.select :search_type, options_for_select([['ユーザー', 'users'], ['投稿', 'posts']], params[:search_type]), {}, class: 'form-select' %>
    <%= f.text_field :search_query, placeholder: '検索...', class: "form-control", style: "max-width: 300px;" %>
    <button type="submit" class="btn btn-primary">
      <i class="fa fa-search"></i>
    </button>
  </div>
<% end %>  
<%= form_with url: search_path, method: :get, local: true, class: "d-flex w-auto ms-3", html: {style: "max-width: 500px;"} do |f| %>
  <div class="input-group input-group-sm">
    <%= hidden_field_tag :search_type, "place" %> 
    <%= f.select :prefecture_code, options_for_select(JpPrefecture::Prefecture.all.map { |p| [p.name, p.code] }, params[:prefecture_code]), include_blank: "都道府県", class: "form-select" %>
    <%= f.text_field :city, placeholder: "市町村", class: "form-control" , style: "max-width: 300px;"%>
    <button type="submit" class="btn btn-primary">
      <i class="fa fa-search"></i>
    </button>
  </div>  
<% end %>