<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <!-- ロゴリンク -->
      <%= link_to "PlayMap", root_path, class: "navbar-brand" %>

      <!-- 検索フォーム（右寄せ） -->
      <div class="ml-auto d-flex align-items-center">
        <%= render 'layouts/form' %>
      </div>

      <!-- ハンバーガーメニュー -->
      <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- ハンバーガーメニューの内容 -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarMenu">
        <ul class="navbar-nav">
          <% if current_user && current_user.guest? %> <!-- ゲストユーザー時 -->
            <li class="nav-item">
              <%= link_to "投稿一覧", posts_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "レビューリスト", reviews_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-danger" %>
            </li>
          <% elsif current_user %> <!-- ログイン時 -->
            <li class="nav-item">
              <%= link_to "マイページ", mypage_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "投稿一覧", posts_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "レビューリスト", reviews_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規投稿", new_post_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-danger" %>
            </li>
          <% else %> <!-- ログアウト時 -->
            <li class="nav-item">
              <%= link_to "About", about_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-primary my-2" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-primary my-2" %>
            </li>
            <li class="nav-item">
              <%= link_to 'ゲストログイン', users_guest_sign_in_path, class: "btn btn-outline-secondary my-2", method: :post %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>