<!DOCTYPE html>
<html>
  <head>
    <title>PlayMap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/e070c49e1d.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex flex-column min-vh-100">
      <%= render 'layouts/header' %>
      <% flash.each do |key, message| %> 
        <div class="alert alert-<%= key %>"><%= message %></div> 
      <% end %>
      <main class="flex-grow-1">
      <%= yield %>
        </main>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
